/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

* {
	margin: 0;
	border: 0;
  padding: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*-----End Reset Css-----*/

body {
	line-height: initial;
  font-family: 'Conv_Lucida Sans', sans-serif;
}

.flex-container { /*Contenido del documento*/
	display: flex; /*Mostramos los elementos como contenedores flexibles*/
  flex-wrap: wrap;/*Especificamos que los elementos flexibles se ajusten de ser necesario*/
	width: 100%;
	max-width: 720px;
	min-width: 391px;
	background: url(../img/pattern-body.png) repeat;
	margin: 20px auto;
	box-shadow: 5px 5px 7px grey;
}

header { /*Cabecera del documento*/
	flex: 100%; /*Establecemos una longitud flexible del 100%*/
	margin: 11px;
}

img {
	max-width: 100%;
}

section { /*Sección del documento*/
	flex: 60%;/*Establecemos una longitud flexible del 60%*/
	height: auto;
	margin: 11px;
}

article { /*Artículos del documento*/
	display: flex;/*Mostramos los elementos como contenedores flexibles*/
	margin-bottom: 11px;
	align-items: center;
	justify-content: center;
	border-left: #0066B2 5px solid;
	background-color: #dfdfdf;
}

article img {
	width: 40%;
	height: 40%;
}

article div {
	padding: 22px 22px 22px 0px;
}

article h2 {
	color: #0066b2;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	padding-bottom: 22px;
}

article p{
	color: #58595b;
	font-size: 17px;
	text-align: justify;
}

aside {
	flex: 32%;/*Establecemos una longitud flexible del 32%*/
	height: 100%;
	margin: 11px;
	color: #FFF;
	font-weight: bold;
	border-left: red 5px solid;
	background-color: #0066b2;
}

aside ul {
	padding: 12.5px;
}

aside li {
	padding: 5px;
}

.slider {
	flex: 100%;/*Establecemos una longitud flexible del 100%*/
	width: 698px;
	height: 320px;
	margin: 11px;
	background: url(../img/slide1.jpg) no-repeat;
	background-size: cover;
	animation-name: backgroundchange;/*Nombre de la animación*/
  animation-duration: 30s;/*Duración de la animación*/
  animation-iteration-count: infinite;/*La animación sera infinita*/
}

/*Aproximadamente cada 10s cambiara el fondo del bloque*/
@keyframes backgroundchange {
    33% {background: url(../img/slide1.jpg) no-repeat;
				background-size: cover;
				}
    66% {background: url(../img/slide2.jpg) no-repeat;
				background-size: cover;
				}
    100% {background: url(../img/slide3.jpg) no-repeat;
					background-size: cover;
				}
}

footer {/*Pie de página*/
	flex: 100%;/*Establecemos una longitud flexible del 100%*/
	margin: 11px;
}

footer img {
	width: 697px;
}

.footer_bottom {
	display: flex; /*Mostramos los elementos como contenedores flexibles*/
	flex-wrap: wrap;/*Especificamos que los elementos flexibles se ajusten de ser necesario*/
	margin: 50px 25px 25px;
	border-top: 1px solid #cdcccd;
	padding-top: 15px;
}

.footer_logo {
	flex: 30%;/*Establecemos una longitud flexible del 30%*/
	align-items: center;
	justify-content: center;
}

.footer_logo img {
	width: 60%;
}

.footer_text {
	flex: 70%;/*Establecemos una longitud flexible del 70%*/
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	font-size: 10px;
}

.footer_text a {
	margin: auto;
}